@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
body {
  margin: 0;
  font-family: "Asap", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
